:root {
    --violet-color: hsl(257, 40%, 49%);
    --magneta-color: hsl(300, 69%, 71%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.1rem;
    color: white;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

.brand-logo {
    width: 40%;
}

.content {
    text-align: center;
}

.content img {
    width: 100%;
    padding: 4rem 0;
}

.content h1 {
    font-size: 1.7rem;
    font-family: 'Poppins';
    font-weight: 600;
}

.content p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.primary-btn {
    padding: 0.85rem 5rem;
    border-radius: 2rem;
    text-decoration: none;
    background: #ffffff;
    text-align: center;
    color: var(--violet-color);
}

.primary-btn:hover{
    color: #fff;
    background-color: var(--magneta-color);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem; 
}

.icon-link {
    color: #fff;
    text-decoration: none;
}

.circle {
    border: 1px solid #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 63rem) {

    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: auto;
    }

    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .brand-logo {
        width: 15%;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    .content {
        display: flex;
        text-align: left;
        gap: 5rem;
    }
    
    .content-text {
        padding: 3rem 0;
    }

    .content img {
        padding: 0;
    }

    .content h1 {
        font-size: 2.5rem;
    }
    
    .social-links {
        padding-top: 2rem;
        align-self: flex-end;
    }

    .icon-link:hover {
        color: var(--magneta-color);
    }

    .icon-link:hover .circle {
        border: 2px solid var(--magneta-color);
    }
    
}